<!-- Breadcrumb Area Start -->
<div class="col-12">
  <div class="breadcrumb-content text-center mt-100">
    <h2 class="page-title" style="padding: 2px; font-size: 70px;">
      <b class="text"><u>Get In Touch.</u></b>
    </h2>
  </div>
</div>
<br />
<!-- Breadcrumb Area End -->

<!-- Google Maps & Contact Info Area Start -->
<section class="google-maps-contact-info">
  <div class="container-fluid">
    <div class="google-maps-contact-content">
      <div class="row">
        <!-- Single Contact Info -->
        <div class="col-6 col-lg-3">
          <div class="single-contact-info">
            <div class="module">
              <div class="picColor">
                <h3><b>Phone</b></h3>
                <span
                  class="glyphicon glyphicon-home"
                  style="
                    padding-right: 5px;
                    font-size: 20px;
                    color: rgb(30, 23, 23);
                  "
                >
                  (+91)9382393515</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Single Contact Info -->
        <div class="col-6 col-lg-3">
          <div class="single-contact-info">
            <div class="module">
              <div class="picColor">
                <h3><b>Address</b></h3>
                <span
                  class="glyphicon glyphicon-home"
                  style="
                    padding-right: 5px;
                    font-size: 20px;
                    color: rgb(30, 23, 23);
                  "
                >
                  Gurukul,Jaipur</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Single Contact Info -->
        <div class="col-6 col-lg-3">
          <div class="single-contact-info">
            <div class="module">
              <div class="picColor">
                <h3><b>Email</b></h3>
                <span
                  class="glyphicon glyphicon-envelope"
                  style="
                    padding-right: 5px;
                    font-size: 20px;
                    color: rgb(30, 23, 23);
                  "
                >
                  sudiptarana00@gmail.com</span
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Single Contact Info -->
        <div class="col-6 col-lg-3">
          <div class="single-contact-info">
            <div class="module">
              <div class="picColor">
                <h3><b>Availability</b></h3>
                <span
                  class="glyphicon glyphicon-time"
                  style="
                    padding-right: 5px;
                    font-size: 20px;
                    color: rgb(30, 23, 23);
                  "
                >
                  24 hours for you</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Google Maps & Contact Info Area End -->

<!-- Contact Form Area Start -->

<div class="roberto-contact-form-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div
          class="section-heading text-center wow fadeInUp"
          data-wow-delay="100ms"
        >
          <h1>
            <b class="text"><br />Contact Us</b>
          </h1>
          <h2 style="color: rgb(121, 106, 106);">leave Message</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Form -->
        <div class="roberto-contact-form">
          <div class="row">
            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
              <input
                type="text"
                name="name"
                class="form-control mb-30"
                placeholder="Your Name"
                [(ngModel)]="name"
              />
              <br />
            </div>

            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
              <input
                type="email"
                name="email"
                class="form-control mb-30"
                placeholder="Your Email"
                [(ngModel)]="email"
              />
            </div>

            <div class="col-12 wow fadeInUp" data-wow-delay="100ms">
              <textarea
                name="massage"
                class="form-control mb-30"
                placeholder="Your Message"
                [(ngModel)]="massage"
              ></textarea>
            </div>
            <br />
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
              <button
                type="button"
                class="btn btn-danger navbar-btn"
                (click)="creatlang()"
              >
                Send Massage
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<!-- Contact Form Area End -->
<div
  class="col-12 text-center wow fadeInUp"
  data-wow-delay="100ms"
  style="padding: 3rem;"
>
  <div class="module-border-wrap">
    <div class="module">
      <div class="picColor">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3548.212744622397!2d75.6980538145544!3d27.212469653673246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396cffc30dacc2db%3A0xb78e5c340c935a95!2sUniversity+of+Engineering+%26+Management+(UEM)%2C+Jaipur!5e0!3m2!1sen!2sin!4v1562306745300!5m2!1sen!2sin"
          width="100%"
          height="450"
          frameborder="2px"
          style="border: 2px;"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
