<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#language"> <span style="padding-right:5px; color: rgb(226, 61, 75); " class="glyphicon glyphicon-list-alt"></span>Language</a></li>
    <li><a data-toggle="tab" href="#movies"><span style="padding-right:5px; color: rgb(226, 61, 75);" class="glyphicon glyphicon-facetime-video"></span>Movies</a></li>
    <li><a data-toggle="tab" href="#news"><span style="padding-right:5px; color: rgb(226, 61, 75); " class="glyphicon glyphicon-list-alt"></span> News</a></li>
    <li><a data-toggle="tab" href="#songs"><span style="padding-right:5px; color: rgb(226, 61, 75); " class="glyphicon glyphicon-list-alt"></span>Songs</a></li>
 </ul>
  
  <div class="tab-content">
    <div id="language" class="tab-pane fade in active">
        <app-admin-language></app-admin-language>
    </div>
    <div id="movies" class="tab-pane fade">
     <app-admin-movie></app-admin-movie>
    </div>
    <div id="news" class="tab-pane fade">
      <app-admin-news></app-admin-news>
    </div>
      <div id="songs" class="tab-pane fade">
          <app-admin-songs></app-admin-songs>
    </div>
  </div>