<div class="panel-heading" style="background-color: black;"><h2 style="color: rgb(236, 41, 41);"><b>Hindi Songs</b></h2></div>
<div class="panel-body" style="background-color: rgb(15, 13, 13);">
  <div class="row">
  <div class="row">
      
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12" style=" background-color: black ; padding: 10px; margin-top: 10px;" *ngFor="let item of hsongs">
          <div class="row">
            
              
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> 
          
            <div class="picColor">
            <iframe width="100%" height="315" [src]="item.songsLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <diV>
           <span style="font-size: 15px;color: white; "><b class="text"> {{item.songsTitel}}</b></span>
           <div style="font-size: 10px;color: white;"> {{item.catagory}}</div>
          </diV>
          </div>
        </div>
     </div>
  </div>
</div>
</div>
</div>

<div class="panel-heading" style="background-color: black;"><h2 style="color: rgb(236, 41, 41);"><b>Bengali Songs</b></h2></div>
<div class="panel-body" style="background-color: rgb(15, 13, 13);">
  <div class="row">
  <div class="row">
      
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12" style=" background-color: black ; padding: 10px; margin-top: 10px;" *ngFor="let item of bsongs">
          <div class="row">
            
              
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> 
          
            <div class="module-border-wrap"> <div class="module"><div class="picColor">
            <iframe width="100%" height="315" [src]="item.songsLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <diV>
              <span style="font-size: 15px;color: white; "><b class="text"> {{item.songsTitel}}</b></span>
              <div style="font-size: 10px;color: white;"> {{item.catagory}}</div>
             </diV>
          </div></div></div>
        </div>
     </div>
  </div>
</div>
</div>
</div>
